html, body {
	margin: 0;
	padding: 0;
}


#mymap {
	height: 350px;
	border: solid 1px;
	margin: 5px;
}

#chart {
  background-color: lightblue;
  height: 300px;
  margin: auto;
  border: solid 1px;
  width: 400px;
}

#chart svg {
	width: 100%;
	height: 100%;
	stroke: 0.5;
}

#vis {
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}

#vis div {
	float: left;
	position: relative;
	/*border: 1px solid;*/
}

#vis svg {
	width: 400px;
	height: 600px;
}

#vis p.legend {
	text-align: center;
	font-size: 11px;
}


.tooltip {   
  position: absolute;           
  text-align: center;           
  top: 200px;
  /*width: 120px;                  
  height: 80px;            */     
  padding: 1px;             
  font: 12px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none;         
}
